# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IDE-specific files
*.iml
*.ipr
*.iws
.idea/

# VS Code settings (Uncomment if you want to ignore it)
.vscode/

# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/

# API Documentation
doc/api/

# Symbolication and Obfuscation related
app.*.symbols
app.*.map.json

# Android specific
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/

# iOS specific
ios/Pods/
ios/.symlinks/
ios/Flutter/
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/.generated/

# macOS specific
macos/Flutter/ephemeral/
macos/.symlinks/
macos/Pods/
macos/build/

# Web specific
web/.dart_tool/

# Windows specific
windows/.dart_tool/
windows/flutter/ephemeral/

# Linux specific
linux/.dart_tool/
linux/flutter/ephemeral/
